<div ng-controller="ModalEditTopologyController">

    <div modal="topologyToEdit" close="close()" options="opts">
        <div class="modal-header">
            <h3>Edit topology</h3>
        </div>
        <div class="modal-body">
			<div>
			  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
			</div>

        	<form class="form-horizontal content">
        		<div class="control-group">
					<label class="control-label" for="inputName">Name</label>
					<div class="controls">
						<input type="text" id="inputName" ng-model="topologyToEdit.name">
					</div>
				</div>
        		<div class="control-group">
					<label class="control-label" for="inputDescription">Description</label>
					<div class="controls">
						<input type="text" id="inputDescription" ng-model="topologyToEdit.description">
					</div>
				</div>
        		<div class="control-group">
					<label class="control-label" for="inputDefinition">Definition</label>
					<div class="controls">
						<div ui-ace="{
						  useWrapMode : false,
						  showGutter: false,
						  theme:'chrome',
						  mode: 'xml'
						}" ng-model="topologyToEdit.pattern"></div>
					</div>
				</div>
	        	</form>
	        	<hr/>
			<form action="/apiproxy/uploaded_files?file_type=war_file" ng-upload class="form-horizontal"> 
	        		<div class="control-group">
					<label class="control-label" for="inputName">War file:</label>
					<div class="controls">
					 	<input type="file" name="file"></input>
							<input type="submit" value="Upload" upload-submit="uploadComplete(content, completed)"></input>
						</div>
					</div>
			</form>
				<form action="/apiproxy/uploaded_files?file_type=sql_script_file" ng-upload class="form-horizontal"> 
	        		<div class="control-group">
					<label class="control-label" for="inputName">Sql file:</label>
					<div class="controls">
					 	<input type="file" name="file"></input>
							<input type="submit" value="Upload" upload-submit="uploadComplete(content, completed)"></input>
						</div>
					</div>
			</form>   				
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="save()" ng-disabled="false">Save</button>
            <button class="btn" ng-click="close()" ng-disabled="false">Cancel</button>
        </div>
    </div>
</div>
