.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: auto; 
    position:relative;
    overflow:hidden;
    height:100%;
}

.ace_editor { top: 0; bottom: 0; right: 0; left: 0; }
.ace_editor_wrapper { position : relative; height: 200px}


.deployed, .deployed a { color : green }
.deploying, .deploying a { color : blue }
.undeployed, .undeployed a {color : black }
.failed, .failed a { color : red }

.deployed a, .deploying a, .undeployed a, .failed a { text-decoration:underline; }


